altgraph==0.17.4
cffi==1.17.1
click==8.1.7
cryptography==44.0.0
customtkinter==5.2.2
darkdetect==0.8.0
joblib==1.4.2
macholib==1.16.3
nltk==3.9.1
packaging==24.2
pycparser==2.22
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pyperclip==1.9.0
regex==2024.11.6
setuptools==75.6.0
tqdm==4.67.1
